

ul {  
    padding: 0;
    li {
        list-style: none;
        .listDeux{
        a {
            color: blue;
            &:hover {
                color: lime;
            }
        }
    }
}
}
.box3{
a {
            color: yellow;
            &:hover {
                color: grey;
            }
        }
    }